@use "./global.scss" as global;
.experiences {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
	width: 100%;
	height: 10rem;
	background-color: map-get(global.$purple, "light");

	.cards {
		width: 60%;
		height: 70%;
		display: flex;

		/*.card {
		}*/
	}
}
