@use "sass:map";
@use "../../global.scss" as global;

$header-h: 6vh;
$footer-h: 25vh;

$shadow:
  0 2px 4px rgba(0, 0, 0, 0.1),
  -2px 0 4px rgba(0, 0, 0, 0.05),
  2px 0 4px rgba(0, 0, 0, 0.05);

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;

  p {
    font-weight: 400;
    letter-spacing: 0.8px;
    line-height: 1.7rem;
  }
}

body,
#root {
  width: 100vw;
  height: 100vh;
  position: sticky;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.menu-icon {
  cursor: pointer;
}

.wrapper {
  width: 100%;
  height: 100%;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - ($footer-h + $header-h));
  position: relative;
  z-index: 10;
}

footer {
  @extend .flex-center;
  position: relative;
  width: 100%;
  height: $footer-h;
  background-color: black;
  z-index: 10;

  .footer-box {
    position: relative;
    width: 85%;
    height: 65%;
    display: flex;
    justify-content: space-between;

    .footer-box-inner {
      width: clamp(22rem, 50%, 26rem);
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: start;
      color: white;

      a {
        text-decoration: none;
        color: white;
      }

      .availability {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 1rem;
        width: 100%;
        overflow: hidden;
      }
    }

    .footer-box-inner.second {
      width: 10rem;
      height: 50%;
      display: flex;
      justify-content: space-evenly;
      align-items: start;
      flex-direction: column;
      span {
        width: 100%;
        height: 50%;
        font-size: 1rem;
        text-align: center;
        font-weight: 300;
      }
      > div {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 50%;
      }
    }
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  position: relative;
  height: 50vh;
  width: 100%;
  margin-top: 4rem;
  display: flex;
  align-items: start;

  .hero-image {
    width: 40%;

    img {
      width: 100%;
      height: 70%;
    }
  }

  .hero-text {
    width: 50%;
    height: 100%;
    margin-left: 5rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    h1 {
      font-weight: 700;
      font-size: 4rem;
    }

    p {
      font-size: 1rem;
    }

    button {
      @extend .flex-center;
      background-color: map-get($map: global.$purple, $key: "dark");
      cursor: pointer;
      border-radius: 0.5rem;
      border: none;
      width: 15rem;
      height: 3rem;
      color: white;
    }
  }

  .blur {
    position: absolute;
    right: 0;
    top: -10rem;
    filter: blur(5rem);
    width: 10rem;
    height: 10rem;
    background-color: rgb(196, 144, 196);
    border-radius: 100%;
  }
}

.featured {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .featured-text {
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    margin-left: 8rem;

    h1 {
      margin: 0;
      font-size: 3.4rem;
      font-weight: 600;

      + h3 {
        margin: 0;
        font-size: 1.3rem;
        font-weight: 400;
      }
    }
  }

  .featured-cards {
    position: relative;
    width: 100%;
    height: min(30rem, 100vh);
    display: flex;
    justify-content: space-evenly;

    @mixin circle($width) {
      content: "";
      position: absolute;
      width: $width;
      height: $width;
      background-color: map-get(global.$purple, "light");
      border-radius: 100%;
      z-index: -1;
    }

    &:before {
      @include circle(30vw);
      left: -5rem;
      bottom: -10rem;
    }

    &:after {
      @include circle(20vw);
      left: 75%;
      top: -10rem;
    }

    .card {
      width: clamp(15rem, 25%, 23rem) !important;
      height: 100%;
      z-index: 10;
      display: flex;
      justify-content: start;
      align-items: center;
      flex-direction: column;
      border-radius: 1rem;
      border-bottom: 1px solid rgba(128, 128, 128, 0.3);
      border-left: 1px solid rgba(128, 128, 128, 0.3);
      border-right: 1px solid rgba(128, 128, 128, 0.3);
      background-color: white;
      box-shadow: $shadow;

      .linkto {
        width: 100%;
        height: 3rem;
        justify-content: end;
        margin-right: 3rem;
        color: #7c38f0;
        cursor: pointer;
      }

      > img {
        margin-block: 1rem;
        width: 90%;
        height: 12rem;
        border-radius: 0.7rem;
        object-fit: cover;
      }

      p {
        text-align: start;
        height: 30%;
        width: 90%;
      }

      > div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        > * {
          margin-inline: 1rem;
          font-size: 1.4rem;
          font-weight: 600;
        }

        .stars {
          width: 30%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;

          .star {
            &:not(.active) {
              filter: saturate(0);
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  * {
    font-size: x-small;
  }

  .hero-text,
  .hero-image {
    height: 40%;
    width: 90% !important;
  }

  .hero-image {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: clamp(10rem, 100vw, 50rem) !important;
      height: 50vh !important;
    }
  }

  .hero {
    height: 80%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 75vh;
    margin-top: -1rem;
  }

  .hero-text {
    * {
      margin-left: 2vh;
    }

    width: 100% !important;
    height: 50%;
    margin: 0 !important;

    h1 {
      font-size: 120% !important;
    }

    p {
      font-size: 1.5rem !important;
    }

    button {
      font-size: 1.5rem;
      height: 4rem !important;
      width: 20rem !important;
      img {
        margin: 0;
      }
    }
  }
  .footer-box-inner.second {
    img {
      width: 25%;
    }
  }
  .featured {
    .featured-text {
      margin: 0;
      @include flex-center;
    }
    height: fit-content;
    .featured-cards {
      &:before,
      &:after {
        content: none;
      }
      width: 100%;
      flex-direction: column;
      gap: 3rem;
      height: fit-content;
      align-items: center;
      .card {
        width: 90% !important;
        max-width: 50rem;
      }
    }
  }
}

/*
@mixin test($width, $height) {
  width: $width;
  height: $height;
  
  display: flex;
}

.test {
  @include test(100px, 1000px);
}
*/
